/.idea/.idea.rkis-lws/.idea/.gitignore
/rkis-lws/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/rkis-lws/obj/Debug/net7.0/apphost.exe
/.idea/.idea.rkis-lws/.idea/indexLayout.xml
/rkis-lws/PracticalWork5.cs
/rkis-lws/obj/project.assets.json
/rkis-lws/obj/project.nuget.cache
/rkis-lws/obj/project.packagespec.json
/rkis-lws/obj/rider.project.model.nuget.info
/rkis-lws/obj/rider.project.restore.info
/rkis-lws/obj/Debug/net7.0/rkis-lws.AssemblyInfo.cs
/rkis-lws/obj/Debug/net7.0/rkis-lws.AssemblyInfoInputs.cache
/rkis-lws/obj/Debug/net7.0/rkis-lws.assets.cache
/rkis-lws/obj/Debug/net7.0/rkis-lws.csproj.AssemblyReference.cache
/rkis-lws/obj/Debug/net7.0/rkis-lws.csproj.CoreCompileInputs.cache
/rkis-lws/obj/Debug/net7.0/rkis-lws.csproj.FileListAbsolute.txt
/rkis-lws/obj/rkis-lws.csproj.nuget.dgspec.json
/rkis-lws/obj/rkis-lws.csproj.nuget.g.props
/rkis-lws/obj/rkis-lws.csproj.nuget.g.targets
/rkis-lws/bin/Debug/net7.0/rkis-lws.deps.json
/rkis-lws/bin/Debug/net7.0/rkis-lws.dll
/rkis-lws/obj/Debug/net7.0/ref/rkis-lws.dll
/rkis-lws/obj/Debug/net7.0/refint/rkis-lws.dll
/rkis-lws/obj/Debug/net7.0/rkis-lws.dll
/rkis-lws/bin/Debug/net7.0/rkis-lws.exe
/rkis-lws/obj/Debug/net7.0/rkis-lws.GeneratedMSBuildEditorConfig.editorconfig
/rkis-lws/obj/Debug/net7.0/rkis-lws.genruntimeconfig.cache
/rkis-lws/obj/Debug/net7.0/rkis-lws.GlobalUsings.g.cs
/rkis-lws/bin/Debug/net7.0/rkis-lws.pdb
/rkis-lws/obj/Debug/net7.0/rkis-lws.pdb
/rkis-lws/bin/Debug/net7.0/rkis-lws.runtimeconfig.json
/.idea/.idea.rkis-lws/.idea/vcs.xml
